Django>=4.2,<5.0
djangorestframework>=3.14,<3.16
djangorestframework-simplejwt>=5.3,<5.4
psycopg2-binary>=2.9,<2.10
django-environ>=0.11,<0.12
django-redis>=5.4,<5.5
whitenoise>=6.6,<6.8
gunicorn>=22.0,<23.0
